{% load  static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satish Verma</title>
    <!-- CSS only -->
    <link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	

</head>
<body>
    <br>
    <div class ="container">
        <div class="row">
        <div class="col-md-3">
            <div class="card card-body h-100 border-info" id="profile-wrapper">
                <img id="profile-pic" src="{% static 'images/sat.jpg' %}">
                <hr>
                <h4>Hi I'm Satish!</h4>
                <p>I love coding, doing some projects work and keep learning</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body h-100 border-info">
                <h4>My First Job as a Software Engineer Trainee!</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur cursus tortor eget mauris placerat faucibus. 
                    Aliquam maximus massa eget eleifend vulputate. Praesent placerat semper finibus. Proin faucibus rutrum mi quis consequat. In eget vulputate enim, sed tempor odio. Nunc id fringilla lorem. Nunc elementum lacus quis ornare convallis. Curabitur eu ultricies arcu.
                Mauris id mattis libero, et venenatis eros.</p>
                <p>
                    he standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. 
                    Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are
                </p>
                <p>he standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                     Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are</p>
                     <ul class="social-links">
                        <li><img class="social" src="{% static 'images/facebook.png'%}"></li>
                        <li><img class="social" src="{% static 'images/linkedin.png'%}"></li>
                        <li><img class="social" src="{% static 'images/twitter.png'%}"></li>
                        <li><img class="social" src="{% static 'images/youtube.png'%}"></li>

                     </ul>

            </div>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Developer </h5>
                    <hr>
                    <p>Full stack developer ! working as a Software Engineer Trainee.My role is to coordinating the projects form scratch to final end.designed built and manage the entire projects as a sole developer!</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Know</h5>
                    <hr>
                    <p>Python, Django,HTML/CSS,JavaScript/BootStrap,MySQL.
                        
                    </p>
                    <p>
                        PS:Workig on API's,GIT and other Software tool.
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I Learn</h5>
                    <hr>
                    <p>Reverse Engineer & Build ugly Prototype first.</p>
                    <p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do ,Documentation is just  a reference.  </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My short term goal.</h5>
                    <hr>
                    <p>
                        My aim is now to work for dynamic IT company where i can utilize my professional skills ,contributing them
                        and sharing my Experience with others and also fulfil there requirement!
                    </p>

                </div>
            </div>

        </div>
    </div>
</body>
</html>